.header {
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
}

.header img {
    cursor: pointer;
}

.nav{
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-size: 20px;
}

.nav:hover {
    color: rgb(252, 179, 42);
}